<!DOCTYPE html>
<html>

<head>
    <title>Web Project</title>
    <!-- Đường dẫn tới file CSS -->
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
<div class="wrapper">
    <form id="loginForm" method="POST" action="/login">
        <h1>Welcome</h1>
        <div class="input-field">
            <input type="email" name="gmail" id="emaillogin">
            <label>Enter your email</label>
        </div>

        <div class="input-field">
            <input type="password" name="pass" id="passwordlogin">

            <label>Enter your password</label>
        </div>

        <div class="forget">
            <label for="remember">
                <input type="checkbox" id="remember">
                <p>Remember me</p>
            </label>
            <a href="#">
                Forgot password
            </a>
        </div>
        <button type="submit">Log in</button>
        <div class="register">
            <p>Don't have an account</p>
            <a href="/register">Register</a>
        </div>
    </form>
</div>
<script src="/static/login.js"></script>
</body>
</html>
