<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanh Toán</title>
    <link rel="stylesheet" href="/static/payment.css">
</head>
<body>
<div class="container">
    <a href="/home" class="back-link">&larr; Quay lại</a>
    <div class="section">
        <h3>Thông tin khách hàng</h3>
        <label for="address">Địa chỉ</label>
        <input type="text" id="address" placeholder="Nhập địa chỉ của bạn">
    </div>

    <div class="section">
        <h3>Phương thức thanh toán</h3>
        <select id="payment-method">
            <option value="cash">Thanh toán khi nhận hàng</option>
        </select>
    </div>

    <div class="section" id="section">
        <h3>Món đã chọn</h3>
        <div class="summary" id="summary">

        </div>
    </div>

    <button class="btn" id="finish">Thanh Toán Hóa Đơn</button>
</div>
<script src="/static/payment.js"></script>
</body>
</html>
